
.contenedor{
    width: 90%;
    margin: auto;

}
.characters{
    display: flex;
    flex-wrap: wrap;
}
.dropdown-item{
    cursor: pointer;
}

.bg-image{
    background-image: url('../img/Rick_and_Morty_Season_1.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
}